#about-section .containerss {
  margin: auto 100px;
  margin-bottom: 20px;
}
#about-section .containerss h2 {
  font-size: 2.5rem;
  margin-bottom: 70px;
}
#about-section .containerss .col {
  margin: 20px;
}
#about-section .containerss .title-n {
  text-align: center;
  font-size: 3rem;
  text-transform: capitalize;
  margin-bottom: 80px;
}
#about-section .containerss .title-textt {
  font-size: 1.1rem;
  line-height: 30px;
  line-height: 35px;
  width: 100%;
}
#about-section .containerss #words {
  font-size: 2rem;
}
#about-section .containers {
  margin: 150px 100px;
  margin-bottom: 170px;
}
#about-section .containers .title-n {
  text-align: center;
  font-size: 3rem;
  text-transform: capitalize;
  margin-bottom: 80px;
}
#about-section .containers .title-text {
  font-size: 1rem;
  line-height: 35px;
  text-align: justify;
  width: 100%;
  letter-spacing: 0.8px;
}
#about-section .containers .title-text strong {
  font-weight: 600;
}
#about-section .containers .title-text button {
  background: #fff;
  border: 1px solid #fff;
  font-weight: 700;
  letter-spacing: 0.7px;
  margin-top: 50px;
  color: #131313;
}
#about-section .containers .title-text button:hover {
  background-color: #fff;
  color: #131313;
}
#about-section .containers .title-textt {
  font-size: 1.1rem;
  line-height: 40px;
  text-align: justify;
  width: 100%;
}
#about-section .containers #words {
  font-size: 2rem;
}
#about-section .about {
  position: relative;
  padding-top: 60px;
}
#about-section .about button {
  color: #737680;
  text-transform: uppercase;
  font-size: 15px;
  border: none;
  background: none;
  letter-spacing: 1.6px;
  opacity: 0.5;
}
#about-section .about h2 {
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 5rem;
  font-weight: 500;
  width: 90%;
}
#about-section .about h4 {
  margin-top: 50px;
  font-size: 1.1rem;
  color: #737680;
  width: 80%;
  line-height: 1.3;
  font-family: poppins, sans-serif;
  font-weight: 500;
}
#about-section #values {
  margin-bottom: 0px;
}
#about-section #values h2 {
  font-size: 1.5rem;
  margin-bottom: 50px;
}
#about-section #values p {
  color: #fff;
}
#about-section #values #title {
  color: goldenrod;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 20px;
}
#about-section #values h6 {
  color: #a3a3a3;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 30px;
}
#about-section #values p {
  width: 80%;
  margin-bottom: 50px;
}
#about-section #values .row {
  margin-top: 20px;
}
#about-section #values .col {
  margin-top: 20px;
}
#about-section .about-img {
  opacity: 0.6;
}
#about-section .team h1 {
  font-size: 1rem;
}
#about-section .team h4 {
  font-size: 0.8rem;
}
#about-section .team h3 {
  font-size: 1.9rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 100px;
}
#about-section .team p {
  font-size: 1.1rem;
  margin-bottom: 100px;
  text-align: center;
}
#about-section .team .row {
  margin-bottom: 40px;
  text-align: center;
}

@media screen and (max-width: 991px) {
  #about-section .containerss {
    margin: auto 20px;
    margin-bottom: 20px;
  }
  #about-section .containerss h2 {
    font-size: 1.5rem;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  #about-section .containerss .col {
    margin: 20px;
  }
  #about-section .containerss .title-n {
    text-align: center;
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 80px;
  }
  #about-section .containerss .title-textt {
    font-size: 0.9rem;
    line-height: 30px;
    line-height: 35px;
    width: 100%;
  }
  #about-section .containerss #words {
    font-size: 2rem;
  }
  #about-section .containers {
    margin: auto 20px;
    margin-bottom: 150px;
  }
  #about-section .containers .title-n {
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 50px;
    margin-top: 100px;
  }
  #about-section .containers .title-text {
    font-size: 0.9rem;
    line-height: 30px;
    margin-left: -10px;
  }
  #about-section .containers #words {
    font-size: 1.3rem;
    margin-bottom: 50px;
  }
  #about-section .about {
    position: relative;
    padding-top: 60px;
    margin: 10px 25px;
    margin-bottom: 0%;
  }
  #about-section .about h2 {
    margin-top: 100px;
    font-size: 2.2rem;
    width: 100%;
  }
  #about-section .about h4 {
    margin-top: 50px;
    font-size: 1rem;
    color: #737680;
    width: 100%;
    line-height: 1.6;
  }
  #about-section .about button {
    opacity: 1;
    color: #737680;
  }
  #about-section #values {
    margin-top: 100px;
  }
  #about-section #values h2 {
    font-size: 1.5rem;
    margin-bottom: 50px;
  }
  #about-section #values p {
    color: #737680;
    width: 100%;
  }
  #about-section #values p {
    width: 100%;
    margin-bottom: 50px;
  }
  #about-section #values .row {
    margin-top: 20px;
  }
  #about-section #values .col {
    margin-top: 20px;
  }
  #about-section img {
    margin-top: -20px;
    margin: auto 25px;
  }
  #about-section .containers {
    margin: auto 25px;
  }
  .team h1 {
    font-size: 1rem;
    margin-top: 20px;
    font-weight: 700;
  }
  .team h4 {
    font-size: 0.8rem;
    margin-bottom: 50px;
    color: #a3a3a3;
  }
  .team h3 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 100px;
  }
  .team p {
    font-size: 1.1rem;
    margin-bottom: 100px;
    text-align: center;
    margin-left: 20px;
  }
  .team .row {
    margin-bottom: 40px;
    text-align: center;
  }
}/*# sourceMappingURL=about.css.map */