#contact-page h3 {
  margin-top: 100px;
  margin-bottom: 150px;
  font-size: 5rem;
  font-weight: 500;
  width: 100%;
}
#contact-page .same {
  font-size: 13px;
  border-bottom: 1px solid #737680;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  color: white;
  outline: none;
  background: #363944;
  margin-bottom: 30px;
  border-radius: 0px;
}
#contact-page .same:focus {
  background-color: none;
  outline: transparent;
  border-radius: 0px;
  border: 1px solid transparent;
}
#contact-page .form-check-input:checked {
  background-color: #4a4d57;
  border-color: #4a4d57;
}
#contact-page .form-control::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(180, 180, 180);
  opacity: 1; /* Firefox */
}
#contact-page .form-control:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(180, 180, 180);
  opacity: 1; /* Firefox */
}
#contact-page .form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(180, 180, 180);
  opacity: 1; /* Firefox */
}
#contact-page .project {
  padding-bottom: 100px;
}
#contact-page h6 {
  font-size: 12px;
  color: coral;
  margin-top: -30px;
  margin-bottom: 20px;
}
#contact-page .radios {
  margin-top: 7px;
}
#contact-page #sub {
  width: 100%;
  margin-top: 30px;
  border: none;
  text-align: center;
  background-color: #363944;
}
#contact-page #services {
  color: #737680;
  margin-top: 50px;
}
#contact-page label {
  font-size: 13px;
  color: rgb(180, 180, 180);
}
#contact-page h4 {
  font-size: 30px;
  margin-bottom: 60px;
  text-align: center;
}
#contact-page .socials {
  text-align: center;
}
#contact-page #tel {
  margin-left: -60px;
}
#contact-page span {
  margin-left: 60px;
  cursor: pointer;
}
#contact-page .icons {
  margin-left: -100px;
  margin-top: 20px;
}
#contact-page a {
  text-decoration: none;
  color: #737680;
  font-size: 20px;
  align-self: center;
}
#contact-page a small {
  margin-top: 30px;
}
#contact-page .prices {
  padding: 10px 3px;
  width: 85%;
  margin-top: 10px;
  background-color: transparent;
  color: #737680;
  border: 1px solid #737680;
}
#contact-page .prices:focus {
  background-color: #737680;
  color: #363944;
}

@media screen and (max-width: 991px) {
  #contact-page {
    margin-left: 10px;
  }
  #contact-page h3 {
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 2rem;
  }
  #contact-page #tel {
    margin-left: -10px;
  }
  #contact-page span {
    margin-left: 60px;
    cursor: pointer;
  }
  #contact-page .icons {
    margin-left: -70px;
    margin-top: 0px;
    margin-bottom: 50px;
  }
  #contact-page .name {
    margin-top: 60px;
  }
  #contact-page h6 {
    font-size: 12px;
    color: coral;
    margin-top: -30px;
    margin-bottom: 20px;
  }
  #contact-page .radios {
    margin-top: 7px;
  }
  #contact-page #sub {
    background-color: #363944;
  }
  #contact-page .form-control::-moz-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(180, 180, 180);
    opacity: 1; /* Firefox */
    font-size: 15px;
  }
  #contact-page .form-control:-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(180, 180, 180);
    opacity: 1; /* Firefox */
    font-size: 15px;
  }
  #contact-page .form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(180, 180, 180);
    opacity: 1; /* Firefox */
    font-size: 15px;
  }
  #contact-page #services {
    color: #737680;
    margin-top: 20px;
  }
  #contact-page #services label {
    text-transform: capitalize;
    font-size: 12px;
  }
  #contact-page #services .form-label {
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  #contact-page label {
    font-size: 10px;
  }
  #contact-page h4 {
    font-size: 30px;
    margin-bottom: 60px;
  }
  #contact-page a {
    text-decoration: none;
    color: #737680;
    font-size: 18px;
    color: #d9dbe0;
  }
  #contact-page .prices {
    padding: 10px 3px;
    width: 100%;
    font-size: 14px;
    margin-top: 0px;
    background-color: transparent;
    color: #737680;
    border: 1px solid #737680;
  }
  #contact-page .prices:focus {
    background-color: #737680;
    color: #363944;
  }
}/*# sourceMappingURL=contact.css.map */